h1 {
  font-family: Sans-serif;
}
html,
body {
  background-color: black;
  color: white;
  text-align: center;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
