h1 {
  font-family: "Montserrat", Sans-serif;
}
html,
body {
  background-color: black;
  color: white;
}
pre code {
  background-color: #eee;
  color: black;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  text-align: left;
}
#snippets {
  display: flexbox;
  flex-flow: row wrap;
}
.snippet {
  width:50%;
}